defaults:
  - qa@dataset_builder
  - corpus@corpus_builder
  - analytics: none

_target_: fz_openqa.datamodules.builders.OpenQaBuilder
index_builder: ${datamodule.index_builder}
transform: ${datamodule.transform}
relevance_classifier: ${datamodule.relevance_classifier}
score_transform: ${datamodule.score_transform}
dataset_filter: ${datamodule.dataset_filter}
sampler: ${datamodule.sampler}
n_retrieved_documents: ${datamodule.n_retrieved_documents}
output_columns: ${datamodule.output_columns}

num_proc: ${datamodule.num_proc}
batch_size: 100

# nesting level
document_nesting_level: 1
