<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Completions</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    {% for data in completions %}
    <div class="row">
        <h2>Completion {{ loop.index }} ({{ info }})</h2>
        <ul>
            <li>
                <strong>Question:</strong> {{ data.question }}
            </li>
            <li>
                <strong>Answer:</strong> {{ data.answer }}
            </li>
            <li>
                <strong>Completion:</strong> {{ data.completion }}
                <br>
            </li>
        </ul>
    </div>
    {% endfor %}
</div>

</body>
</html>
